include ./partials/header.pug

script.
    party = !{JSON.stringify(party)}

h1 Qui prend quoi ?
h2= party.name
h3 Créé par #{party.author}

div.items
  h4 Items
  form(method="post" action=`/party/${party._id}/items`)
    label(for="name") Ajouter un item 
    input(name="name" id="name" placeholder="Chips" required)
    label(for="user") Par Qui ? 
    input(name="user" id="user" placeholder="Bastien" required)
    button(type="submit") Envoyer 

div.itemsList
    h4 Items ajoutés
    ul
      each item in party.items
        li
          form(method="post" action=`/party/${party._id}/items/${item._id}`)
            p= `${item.user} --> ${item.name}`
            button(type="submit") Supprimer

div
  label(for="url") Partagez l'événement
  input(id="url" value=`${url}` data-clipboard=`${url}` data-share-url=`${url}` data-share-title=`${party.name}` data-share-text=`${party.author} t'invite a la partyyyy ${party.name}`)